$bp-1: rgb(232, 74, 87);
$bp-2: rgb(58, 157, 221);
$bp: rgb(168, 133, 212);
$entry-compact: 530px;
$entry-timeline: 680px;
$variable_el: 1000px;
$category-tab: 700px;
$thumb-l-maxresp: 380px;
$thumb-m-maxresp: 270px;
$head-m-maxresp: 304px;
$divider: #e8e8e8;
$menu-item: #6c6c6c;
$cta-bg: #d7e8de;
$cta-fg: #469669;
$cta-border: #a5bfb0;
$post-desc-pad: .8rem;

$tag-border: #D9D9D9;
$tag-text: #a1a1a1;